# OpenEngine Distribution file for MetaMorpher.

# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# MetaMorpher project
git /projects/MetaMorpher https://github.com/OpenEngineDK/projects-MetaMorpher.git
git-dev /projects/MetaMorpher git@github.com:OpenEngineDK/projects-MetaMorpher.git

# dist files
#dist /extensions/HUD/HUD.dist    https://raw.githubusercontent.com/OpenEngineDK/extensions-HUD/master/HUD.dist

# standard set of extensions
git /extensions/GLUT            https://github.com/OpenEngineDK/extensions-GLUT.git
git /extensions/OpenGLRenderer  https://github.com/OpenEngineDK/extensions-OpenGLRenderer.git
git /extensions/GenericHandlers https://github.com/OpenEngineDK/extensions-GenericHandlers.git
git /extensions/OBJResource     https://github.com/OpenEngineDK/extensions-OBJResource.git
git /extensions/SDLImage        https://github.com/OpenEngineDK/extensions-SDLImage.git
git /extensions/FFMPEGResource  https://github.com/OpenEngineDK/extensions-FFMPEGResource.git
git /extensions/Morphing        https://github.com/OpenEngineDK/extensions-Morphing.git

git-dev /extensions/GLUT            git@github.com:OpenEngineDK/extensions-GLUT.git
git-dev /extensions/OpenGLRenderer  git@github.com:OpenEngineDK/extensions-OpenGLRenderer.git
git-dev /extensions/GenericHandlers git@github.com:OpenEngineDK/extensions-GenericHandlers.git
git-dev /extensions/OBJResource     git@github.com:OpenEngineDK/extensions-OBJResource.git
git-dev /extensions/SDLImage        git@github.com:OpenEngineDK/extensions-SDLImage.git
git-dev /extensions/FFMPEGResource  git@github.com:OpenEngineDK/extensions-FFMPEGResource.git
git-dev /extensions/Morphing        git@github.com:OpenEngineDK/extensions-Morphing.git

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip

# os x libraries

# linux libraries
